{
    log {
        output stdout
        level INFO
    }
    acme_ca https://waf:8085/acme/directory
    acme_ca_root /data/ca-root.pem
    email test@lesur.lan
}

http://:80 {
    respond "OK caddy-test HTTP" 200
}

test.lesur.lan {
    respond "Hello from test.lesur.lan TLS" 200
}
